@import '../../../assets/styles/utils';

.mapSettingsPanelContainer {
  @include card;

  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;

  .panelTitle {
    margin: 10px 0 20px;
  }

  .switchGroup {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
}
