@import '../../../assets/styles/utils';

.nCovPanelContainer {
  @include card;

  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;

  .panelTitle {
    margin: 10px 0 0;
  }
}
